@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900');


:root {
    --fada-c-background: hsl(200, 82%, 18%);

    --fada-c-main: hsl(47, 100%, 80%);
    --fada-c-second: #e0b26a;
    --fada-c-third: #e0b26a;

    --fada-c-white: hsl(47, 100%, 94%);
    --fada-c-black: #000000;
}

body {
    margin: 0px;
    color: var(--fada-c-white);
    background: var(--fada-c-background);
    font-family: "Lato", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
